.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  transition: all 0.3s ease-out;
}

.ModalOpen {
  animation: openMadal 0.4s ease-out forwards;
}

.ModalClosed {
  animation: closeMadal 1s ease-out forwards;
}

/*한 프레임 이후 제거됨, 초기화 하는 코드 사용할 수 있음*/
.fade-slide-enter {
}
.fade-slide-exit {
}

/*실제로 애니메이션이 재생되는 구간*/
.fade-slide-enter-active {
  animation: openMadal 0.4s ease-out forwards;
}
.fade-slide-exit-active {
  animation: closeMadal 1s ease-out forwards;
}

@keyframes openMadal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes closeMadal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
